/*Inicial*/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 350;
  box-sizing: border-box;
  
}

body {
  background-color: #06c;
}

a {
  text-decoration: none;
  /* font-size: 75px; */
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 75px;
  color: #06c;
}

p{
  text-align: justify;
  font-size: 45px;
}

/*=====CONTAINER=====*/
.container {
  width: 100%;
  float: left;
  text-align: center;
  padding: 3% 4%;
}

/*cabecalho*/

.logo {
  width: 300px;
  height: 250px;
  float: left;
  background: url(mobile1.png) center center/200px no-repeat;
  font-size: 0;
}

.btn-menu {
  width: 200px;
  height: 200px;
  float: right;
  text-align: center;
  color: #fff;
  border-radius: 200px;
  cursor: pointer;
  background: linear-gradient(to right, #00c, #ccc);
  position: fixed;
  right: 13px;
}

/*MENU*/
.menu {
  display: none;
  width: 50%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
}

.btn-close {
  font-size: 1.5em;
  color: #fff;
  float: right;
  cursor: pointer;
  margin: 2% 3% 0 0;
}

.menu ul {
  width: 100%;
  float: left;
  text-align: center;
}

.menu li {
  padding: 1px;
}

.menu li a {
  font-size: 2em;
  color: #fff;
  padding: 1.5% 3%;
  font-size: 1.5em;
  padding: 4px;
}

.menu li a:hover {
  border: 1px solid #00c;
}

/*BANNER*/
.banner {
  background: url(../img/600.jpg) no-repeat fixed ;
  
}

.title {
  width: 100%;
}

.title h2 {
  font-size: 3.5em;
  color: #09c;
  font-weight: 700;
}

.title h3 {
  font-size: 1.5em;
  color: white;
}

.buttons {
  width: 100%;
}

.buttons i {
  float: right;
  margin-top: 2%;
}

.btn-cadastrar {
  background-color: #ccc;
  color: #09c;
  text-align: center;
}

.btn-sobre {
  background-color: #088;
  color: #ccc;
  margin-top: 2%;
}

.btn {
  width: 100%;
  font-size: 1.5em;
  text-align: left;
  cursor: pointer;
  padding: 5%;
  border-radius: 7px;
}

/*SERVICOS*/
.servicos {
  width: 100%;
  float: left;
  padding: 3% 4%;

}

.servicos {
  width: 100%;
  background-color: #fff;
  text-decoration: left;
  border-radius: 7px;
  margin-top: 3%;
}

.servico img {
  border-radius: 7px 7px 0 0;
}



/* News letters*/
.newsletter {
  background-color: #111;
}

.newsletter h2 {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}

.newsletter h3 {
  color: #fff;
}

.newsletter form {
  width: 100%;
  float: left;
  margin-top: 2%;
}

.newsletter input {
  width: 100%;
  margin-right: 1%;
  padding: 5%;
  border: 1px solid white;
  border-radius: 7px;
  color: #fff;
  background-color: initial;
  float: left;
  height: 30%;
}

.newsletter button {
  width: 100%;


  background: linear-gradient(to right, #00c, #ccc);
  padding: 5%;
  border-radius: 7px;
  float: right;
  cursor: pointer;
  margin-top: 2%;
}

.newsletter button:hover {
  background-color: #3c0;
}

/*RODAPE*/
.rodape {
  width: 100%;
  float: left;
  background-color: #13c7ae;
  padding: 3% 4%;
  text-align: center;
  background: linear-gradient(to right, #13c7ae, #00c);
}

.social-icons a {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 4%;
}

.copy {
  margin-top: 2%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}


.veri a button {
  width: auto;
  background: linear-gradient(to left, #00c, #ff0);
  border-radius: 9px;
  float: left;
  margin-top: 3%;
  display: inline;
  margin-right: 40%;
}

.veri button:hover {
  background-color: #3c0;
  cursor: pointer;
}


